<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
description="Обработка REST-заглушкой с SSL-аутентификацией GET-запроса обо всех клиентах. Ответ XML." 
name="Block 12 Test Case 8_1" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

<Log>Запускаем заглушку</Log>
<RunStub stubName="Block12stub"/>


<Log>Отправляем запрос в заглушку с SSL, попутно сохраняя ответ и код</Log>
<RESTSendGet objName="Block12ssl" paramCharset="Windows-1251" resource="/getBankClient" response="response" responseCode="resp_code" >
	
	<requestHeaders>
		<header name="Content-Type" value="text/xml; charset=Windows-1251"/> 
	</requestHeaders>
	<responseHeaders>
		<header name="Content-Type" variable="header"/>
	</responseHeaders>

</RESTSendGet>


<Log>Останавливаем заглушку</Log>
<StopStub stubName="Block12stub"/>


<Log>Сравниваем полученный код ответа с ожидаемым</Log>
<Log>resp code: #resp_code#</Log>
<AssertEquals variable="resp_code" value="200"></AssertEquals>


<Log>Сравниваем полученный заголовок с ожидаемым</Log>
<Log>header: #header#</Log>
<AssertEquals variable="header" value="text/xml; charset=Windows-1251"></AssertEquals>


<Log>Подставляем необходимые значения в шаблон ответа</Log>
<GetTemplate variable="expected_msg" path="\Templates\block12msg_all.xml" encoding="Windows-1251"/>


<Log>Сравниваем тело ответа с ожидаемым</Log>
<AssertXmlEqual>
	<actual variable="response"/>
    <expected variable="expected_msg"/>
</AssertXmlEqual>

</Test>
