<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
description="Обработка REST-заглушкой с SSL-аутентификацией DELETE-запроса на удаление существующего клиента." 
name="Block 12 Test Case 10" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">


<Log>Запускаем заглушку</Log>
<RunStub stubName="Block12stub"/>

<Log>Отправляем запрос в заглушку с SSL, попутно сохраняя ответ и код</Log>
<RESTSend operation="DELETE" objName="Block12ssl" response="response" responseCode="resp_code" resource="/deleteBankClient" paramCharset="Windows-1251">

	<parameters>
		<param name="ClientId" value="8"/>
	</parameters>
	<requestHeaders>
		<header name="Content-Type" value="text/json; charset=Windows-1251"/> 
	</requestHeaders>
	<responseHeaders>
		<header name="Content-Type" variable="header"/>
	</responseHeaders>

</RESTSend>

<Log>Останавливаем заглушку</Log>
<StopStub stubName="Block12stub"/>

<Log>Сравниваем полученный код ответа с ожидаемым</Log>
<Log>resp code: #resp_code#</Log>
<AssertEquals variable="resp_code" value="200"></AssertEquals>


<Log>Сравниваем полученный заголовок с ожидаемым</Log>
<Log>header: #header#</Log>
<AssertEquals variable="header" value="text/json; charset=Windows-1251"></AssertEquals>


<SQLSelect>
	<Database objName="Block12base"/>
	<sql variable="clients_after">select count(*) from  dbikchentaev_client where id = 8</sql>
</SQLSelect>
<Log>Количество клиентов с id = 8 после удаления: #clients_after#</Log>


<Log>Сравниваем количество клиентов с ожидаемым</Log>
<AssertEquals variable="clients_after" value="0"></AssertEquals>


</Test>
