<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
description="Обработка REST-заглушкой с SSL-аутентификацией PUT-запроса с XML-сообщением о добавлении клиента." 
name="Block 12 Test Case 13" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">


<Log>Очищаем базу после предыдущего теста</Log>
<SQLScript ignoreStringDivide="false" path="Scripts/block12_update_table.sql"> 
    <Database objName="Block12base"/> 
</SQLScript> 
	
<Log>Берем шаблон запроса</Log>
<GetTemplate variable="request" path="/Templates/block12put.xml" type="XML" encoding="Windows-1251"/>

<Log>Запускаем заглушку</Log>
<RunStub stubName="Block12stub"/>

<Log>Отправляем запрос</Log>
<RESTSend operation="PUT" objName="Block12ssl" response="response" responseCode="resp_code" request="request">

	<requestHeaders>
		<header name="Content-Type" value="text/xml; charset=Windows-1251"/> 
	</requestHeaders>
	<responseHeaders>
		<header name="Content-Type" variable="header"/>
	</responseHeaders>

</RESTSend>


<Log>Останавливаем заглушку</Log>
<StopStub stubName="Block12stub"/>


<Log>Сравниваем полученный код ответа с ожидаемым</Log>
<Log>resp code: #resp_code#</Log>
<AssertEquals variable="resp_code" value="200"></AssertEquals>


<Log>Сравниваем полученный заголовок с ожидаемым</Log>
<Log>header: #header#</Log>
<AssertEquals variable="header" value="text/xml; charset=Windows-1251"></AssertEquals>


<Log>Сравниваем тело ответа с ожидаемым</Log>
<GetTemplate variable="expected_msg" path="\Templates\block11msgCase2.xml" encoding="Windows-1251"/>
<ChangeTemplate name="expected_msg">
	<ReplaceValue value="22" mnemonic="Resp_ClientId"/>
	<ReplaceValue value="Васечкин" mnemonic="Resp_Name"/>
	<ReplaceValue value="812" mnemonic="Resp_Code"/>
	<ReplaceValue value="USD" mnemonic="Resp_Currency"/>
</ChangeTemplate>

<AssertXmlEqual>
	<actual variable="response"/>
    <expected variable="expected_msg"/>
</AssertXmlEqual>

<Wait time="5000"/>

<SQLSelect>
	<Database objName="Block12base"/>
	<sql variable="client_name">select name from  dbikchentaev_client where id = 22</sql>
</SQLSelect>

<Log>Сравниваем имя клиента с ожидаемым</Log>
<AssertEquals variable="client_name" value="Васечкин"></AssertEquals>


</Test>
