<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
description="Обработка REST-заглушкой с SSL-аутентификацией DELETE-запроса на удаление существующего клиента." 
name="Block 12 Test Case 10" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">



</Test>
