<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Обработка REST-заглушкой с SSL-аутентификацией POST-запроса с JSON-сообщением о несуществующем клиенте." name="Block 11 Test Case 5" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

<GetTemplate path="Templates/block11msg.json" type="JSON" variable="jsonString"/> 
<ChangeJsonTemplate name="jsonString"> 
    <ReplaceValue inValue="999" jsonPath="getBankClient.BankClient.ClientId" type="Integer"/>    
</ChangeJsonTemplate> 

<Log>json: #jsonString#</Log>

<RunStub stubName="Block11stub"/>

<RESTSend objName="Block11ssl" operation="POST" readTimeout="20000" request="jsonString" 
          response="response" responseCode="code"> 
    <requestHeaders> 
        <header name="Content-Type" value="text/json; charset=Windows-1251"/> 
    </requestHeaders> 
</RESTSend> 

<Log>resp: #response#</Log>
<Log>resp code: #code#</Log>

<StopStub stubName="Block11stub"/>

</Test>
