<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
description="Обработка REST-заглушкой с SSL-аутентификацией POST-запроса с заголовком не XML и не JSON и XML-сообщением о существующем клиенте." 
name="Block 11 Test Case 4" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">


<Log>Берем шаблон запроса и меняем id клиента</Log>
<GetTemplate variable="request" path="/Templates/block11msg.xml"/>

<ChangeTemplate name="request">
	<ReplaceValue value="20" mnemonic="Req_ClientId"/>
</ChangeTemplate>


<Log>Запускаем заглушку</Log>
<RunStub stubName="Block11stub"  writeMessages="true"/>


<Log>Отправляем запрос в заглушку с SSL, попутно сохраняя ответ и код</Log>
<RESTSendPost objName="Block11ssl" paramCharset="Windows-1251" request="request" response="response" responseCode="resp_code"> 
    <parameters> 
        <param name="ClientId" value="20"/>                
    </parameters> 
    <requestHeaders> 
        <header name="Content-Type" value="text/txt; charset=Windows-1251"/>      
    </requestHeaders> 
    <responseHeaders> 
        <header name="Content-Type" variable="value"/> 
    </responseHeaders> 
</RESTSendPost> 


<Log>Останавливаем заглушку</Log>	
<StopStub stubName="Block11stub"/>


<Log>Сравниваем полученный код ответа с ожидаемым</Log>
<Log>resp code: #resp_code#</Log>
<AssertEquals variable="resp_code" value="501"></AssertEquals>

</Test>
