<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Обработка REST-заглушкой с SSL-аутентификацией POST-запроса с заголовком не XML и не JSON и XML-сообщением о существующем клиенте." name="Block 11 Test Case 4" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">


<GetTemplate variable="varName1" path="/Templates/block11msg.xml"/>
<ChangeTemplate name="varName1">
	<ReplaceValue value="20" mnemonic="Req_ClientId"/>
</ChangeTemplate>

<RunStub stubName="Block11stub"  writeMessages="true"/>

<RESTSendPost objName="Block11ssl" paramCharset="Windows-1251" request="varName1" response="varName2" responseCode="varName3"> 
    <parameters> 
        <param name="ClientId" value="20"/>                
    </parameters> 
    <requestHeaders> 
        <header name="Content-Type" value="text/txt; charset=Windows-1251"/>      
    </requestHeaders> 
    <responseHeaders> 
        <header name="Content-Type" variable="value"/> 
    </responseHeaders> 
</RESTSendPost> 
	
<StopStub stubName="Block11stub"/>

</Test>
